:root {
    --mainBlue: #4931A8;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.btn {
    border: none;
    background-color: var(--mainBlue);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

#joinForm {
    display: flex;
    flex-direction: column;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-top: 20px;
}

.inputGroup label {
    padding-bottom: 5px;
}

input {
    padding: 10px 20px;
    border: 1px solid grey;
}

#join-game-main {
    max-width: 600px;
    margin: auto;
}

h1 {
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 0px;
}

p {
    margin-top: 5px;
    font-size: 25px;
    color: #414141;
    max-width: 500px;
}

form {
    width: 50%;
    /* adjust this value to control the form's width */
}

h1 {
    text-align: center;
    margin-top: 55px;
}

input,
label,
button {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* vh stands for viewport height */


}

.field-holder {
    position: relative;
    margin-bottom: 1.25em;
}

button {
    color: antiquewhite;
    background-color: blue;

}